@import url('https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap');
@font-face {
    font-family: "Museo";
    src: local("/public/fonts/Museo500-Regular.otf")
}

.body{
    width:100%;
    height:100%;
    margin:auto;
}


.selector {
    position: relative;
    animation-name: fadeIn;
    animation-duration:2s; 
    display:inline-block;
    margin-bottom: 5rem;
    height:50px;
    top:75px;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration:2s;
}

.compTitle{
    font-size: 48px;
    font-family: "Museo";
    font-weight: 700;
    color: rgb(19,163,153);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.currentSelection{
    position:relative;
    margin: auto;
    width: 100%;
    height:auto;
}


.fivePercent{
    width: 100%;
}

.optionText{
    font-size: 24px;
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.optionTextSelected{
    font-weight:900;
    color: rgb(250,173,73);
    text-transform: uppercase;
}



@media screen and (max-width: 619px){
    .selector{
        display: none;
    }
    .currentSelection{
        top: 75px;
    }

}

.selector > span {
    position: relative;
    text-decoration: none;
}

.selector > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(250,173,73);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.selector > span:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.staffBorder{
    margin-bottom:8rem;
}

.doctor{
    font-size: 36px;
}

.doctor p{
    font-size: 1rem;
}

.serviceImages{
    width: auto;
    height: 400px;
    border-radius: 15px;
}

.mainPageBottom{
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 0px;
    background-color: white;
}

.bioGrid{
    margin: 3rem 4rem 5rem 4rem;
    height: auto;
    display: grid; 
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.officeLocation{
    font-size: 18px;
}

.officeLocation h3{
    font-size: 36px;
    font-family: "Museo";
    font-weight: 700;
    color: rgb(250,173,73);
    /* text-transform: uppercase; */
}

.officeLocation p{
    line-height:30px;
}

.qnaEnd{
    margin-bottom: 5rem;
}

.textBorder{
    padding:0px 5rem 0px 5rem;
}

.textBorder hr{
    width: 80%;
}

@media screen and (max-width: 650px){

    .officeLocation{
        font-size: 16px;
    }
    
    .officeLocation h3{
        font-size: 30px;
    }
    
    .officeLocation p{
        line-height:26px;
    }
}

@media screen and (max-width: 619px){

    .compTitle{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 549px){
    .officeLocation h3{
        font-size: 24px;
    }
    .compTitle{
        font-size: 36px;
    }
}

@media screen and (max-width: 450px){
    .officeLocation h3{
        font-size: 21px;
    }

    .officeLocation{
        font-size: 14px;
    }

    .officeLocation p{
        line-height:24px;
    }

    .compTitle h1{
        font-size: 22x;
    }
}

@media screen and (max-width: 399x){
    .officeLocation h3{
        font-size: 16px;
    }

}