.body{
    position: relative;
    top:45px;
}

.grid {
    width:100%;
    height: auto;
    display: grid;
    position: fixed;
    grid-template-columns: 205px auto;
    column-gap: 1rem;
}

.selector {
    height:100vh;
    width: 100%;
    position: relative;
    top: 125px;
    left: 25px;
    text-align: left;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:center; */
    animation-name: fadeIn;
    animation-duration:2s; 
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration:2s;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
