@import url('https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap');

.body{
    width:100%;
    height:100%;
    margin:auto;
}


.selector {
    position: relative;
    animation-name: fadeIn;
    animation-duration:2s; 
    display:inline-block;
    margin-bottom: 5rem;
    height:50px;
    top:75px;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration:2s;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.currentSelection{
    position:relative;
    margin: auto;
    width: 100%;
    height:auto;
}


.fivePercent{
    width: 100%;
}

.optionText{
    font-size: 24px;
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}

.optionTextSelected{
    font-weight:900;
    color: orange;
    text-transform: uppercase;
}

hr{
    width: 80%;
}

@media screen and (max-width: 619px){
    .selector{
        display: none;
    }
    .currentSelection{
        top: 75px;
    }

}

.selector > span {
    position: relative;
    text-decoration: none;
}

.selector > span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(250,173,73);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.selector > span:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}