@import url('https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap');

.body{
    position: relative;
    top:45px;
    /* width: 100vw; */
}

.grid {
    height: 300px;
    display: grid;
    position: relative;
    grid-template-columns: 225px 80%;
    column-gap: 1rem;
}

.selector {
    height:100%;
    width: 100%;
    position: relative;
    top: 125px;
    left: 25px;
    text-align: left;
    animation-name: fadeIn;
    animation-duration:2s; 
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration:2s;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.quoteGrid {
    position: relative;
    /* padding-top: 60px; */
    text-align: left;
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 1rem;
    font-size: 18px;
}

.quoteMark{
    margin:0;
    background-image: url("/download.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.quoteText{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.currentSelection{
    position:relative;
    margin: auto;
    width: 100vw;
    height:auto;
}


.fivePercent{
    width: 100%;
}