.footerContainer {
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 2%;
    opacity:0;
    animation-name: fadeIn;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-fill-mode: forwards;
    text-align: center;
}

.footerContainer a{
    text-decoration: none;
    color:inherit;
    text-align:center;
    
}

.grid {
    padding: 5px;
    display: grid;
    font-size: 18px;
    grid-template-columns: auto auto auto;
}

.closed {
    font-weight: bold;
    color:red;
}

.address{
    cursor: pointer;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.visibleBig{
    display: inline;
}

.visibleSmall{
    display: none; 
}

@media screen and (max-width: 619px){
    .visibleBig{
        display: none;
    }
    
    .visibleSmall{
        display: inline;
    }

}