.modalPosition {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index:100;
}

.modalContainerIn{
    width: 100%;
    height: 100%;
    top: 35px;
    background-color: rgb(19,163,153);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 800;
    animation: openModal 1.5s forwards;
}

@keyframes openModal{
    0%{
        height: 35px;
    }
    100%{
        height: 100%
    }
}

.modalContainerOut{
    width: 100%;
    height: 100%;
    top: 35px;
    background-color: rgb(19,163,153);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 800;
    animation: closeModal 1.5s forwards;
}

@keyframes openModal{
    0%{
        height: 100%
    }
    100%{
        height: 35px;
    }
}