/* ================================================================================= */
.headerPosition {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index:100;
}

.headerContainer{
    width: 100%;
    height:35px;
    top: 0;
    background-color: rgb(19,163,153);
    /* background-color: rgb(65,173,73); */
    padding: 5px;
    position: fixed;
    /* box-shadow:0 1px 6px rgba(2, 15, 7, 0.5); */
    color: white;
    z-index:102
} 

.VClogo {
    top:12px;
    left:30px;
    position: fixed;
    background-color:white;
    border-radius: 15px;
    padding: 15px 5px 10px 0px;
    width: 200px;
    height: 110px;
    z-index:104;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.5);
} 

.logoShadow{
    top:0px;
    left:30px;
    position: fixed;
    background-color:white;
    /* border-radius: 15px; */
    padding: 15px 5px 15px 0px;
    width: 200px;
    height: 50px;
    z-index:103;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.5);
} 

.headerContainerText{
    position:fixed;
    width:100%;
    height:35px;
    right:45px;
    font-size:18px;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.headerContainerText > a {
    position: relative;
    color: white;
    text-decoration: none;
}

.headerContainerText > a:hover {
    color: white;
}

.headerContainerText > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(250,173,73);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .headerContainerText > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .textSpace{
    margin-left:50px;
  }

  .VCsmall {
    top:5px;
    left:25px;
    position: fixed;
    height: 35px;
    width:auto;
    z-index:104;

} 