.grid {
    width:100%;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    row-gap: 1rem;
    animation-name: fadeIn;
    animation-duration:2s;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.body{
    position: relative;
    top:45px;
}

.test {
    height:1000px;
}

