@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.backgroundStyle {
    position:fixed;
    top:0px;
    bottom:0;
    right:0;
    left:0;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 100%;
    width:auto;
    overflow-x: hidden;
}

.userReviewDesktop {
    position:absolute;
    bottom:25%;
    left: 3%;
    width:35%;
    text-shadow: 1px 1px 1px black; 
    border-radius: 15px;
    z-index: 5;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: white;
    font-size: 28px;
    font-style: italic;
    opacity: 0;
    animation: container 2s .75s forwards;
}

@keyframes container {
    0%{
        opacity:0;
        transform: scale(.75)
    }
    100%{
        opacity:1;
        transform: scale(1)
    }
}

.backgroundIn{
    animation-name: backgroundIn;
    animation-duration:2s;
}

@keyframes backgroundIn{
    0%{
        opacity:0;
        transform: scale(1.25)
    }
    100%{
        opacity:1;
        transform: scale(1)
    }
}

.indent{
    text-indent: 15px;
    display: inline-block;
}

.indent img {
    height:20px;
    width:auto;
}

.userReviewDesktop .indent> a{
    text-decoration: none;
    color:white;
}

.indent  a {
    position: relative;
    color: white;
    text-decoration: none;
}

.indent  a:hover {
    color: white;
}

.indent  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .indent  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* media queries */

  @media screen and (max-width: 750px){

    .userReviewDesktop {
        bottom: 35%;
        font-size: 24px;
        
    }
  }

  @media screen and (max-height: 500px){

    .userReviewDesktop {
        bottom: 20%;
        font-size: 18px;
        width: 40%
        
    }
  }


    @media screen and (min-width: 620px) and (max-width: 450px) {

        .mobile{
            display:none;
        }
    
        .notMobile{
            display:inline;
        }
        
    }
/* ============================================================ mobile starts here */

    @media screen and (max-width: 619px){

        .backgroundStyle{
            overflow-x: scroll;
        }

        .mobile{
            display:block;
            margin: 0px;
            animation: mobileFadeIn 1s forwards;
        }

        @keyframes mobileFadeIn {
            0%{
                opacity:0;
                
            }
            100%{
                opacity:1;
            }
            
        }
    
        .notMobile{
            display:none;
        }
        
        .blankSpace{
            top:0px;
            width: 100%;
            height: 45px;
        }
        .userReviewMobile {
 
            width: inherit;
            height: auto;
            left:0%;
            padding: 0 50px 0 50px;
            text-shadow: none;
            color: #131da3;
            font-family: 'Nunito', sans-serif;
            text-align: center;
            font-size: 24px;
            font-style: italic;
            opacity: 1;

            border-bottom: 4rem;
        }

        .userReviewMobile.indent> a{
            color: #131da3;
        }
        .indent a{
            color: #131da3;
        }
        .indent a:hover{
            color: #131da3;
        }
        .indent a:before{
            background-color: #131da3;
        }

        .mobileHomeCircleContainer{
           display: inline-block;
        }

        .innerCircle{
            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column;
            width: 150px;
            height: 150px;
            border-radius:100%;
            font-weight: bold;
            background-color: white;
            font-size: 1.5rem;
            color:#131da3;
            text-align:center;
            vertical-align: middle;
            font-family: 'Nunito', sans-serif;
            transition:1s all;
            margin: 0px 1rem 0px 1rem;
            cursor: pointer;
            background-size: cover ;
            background-repeat: no-repeat;
            background-position: center;
        }

        .circleTextBackground{
            width: 100%;
            margin:0;
            background-color: rgb(255,255,255,0.65);
            padding:1px;
        }

        .circlesJustify{
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-content:center;
            flex-wrap: wrap;
            margin: 3.5rem 0rem .25rem 0rem;
        }

        .innerCircle:hover{
            transform:scale(0.8);
        }

        .mainPageBottom{
            position: fixed;
            width: 100%;
            height: 25px;
            bottom: 0px;
            background-color: white;
        }

      }

      
.todaysHours{
    text-align: center;
    font-size: 30px;
    color:black;
    margin-bottom: -2rem;
}

.dayColor{
    color: #131da3
}

.closed{
    color: #AF0506;
    font-weight: bold;
}

.seperator{
    width: 55%;
    border-color: #14A399;
    display:inline-block;
}

.translateButton{
    width:200px;
    height:auto;
    font-size:1rem;
    padding:10px;
    color: white;
    font-weight: bold;
    outline: none;
    background-color:#FBAD4B;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    outline: none;
    text-decoration: none;
}

.translateButton:active{
    transform: scale(.75)
}


@media screen and (max-width: 544px){
    .circlesJustify{
        margin: 1rem 0rem 0rem 0rem;
    }
    .innerCircle{
        margin-top: 2.5rem;
    }
    .userReviewMobile{
        font-size: 20px;
    }
} 

@media screen and (max-width: 399px){
    .userReviewMobile{
        font-size: 24px;
        margin-top: 2.5rem;
    }
} 
