.logInPosition{
    margin-top:5rem;
    margin-bottom:4rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.logInForm {
    text-align: center;
    background-color: #f2f2f2;
    /* height:15rem; */
    padding:0.75rem;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    width: 25rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 2px 2px 3px rgb(0,0,0,0.5)
}

.inputText{
    width: 15rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color:rgb(100,100,100,0.65);
    border-radius: 4px;
    box-sizing: border-box;
    
}

.inputSubmit{
    width: 10rem;
    background-color: rgb(35,64,143);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }

.inputSubmit:hover{
    transition: .2s;
    transform: scale(0.85)
}

.inputSubmit:active{
    background-color: rgb(0,183,241);
}