.hoursGrid {
    margin-top:45px;
    width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    border-block-color: 1px solid rgb(0,0,0,0.15);
}

.highlightDate {
    font-weight: bold;
    color: rgb(19,163,153);
}

.header{
    font-family: "Nunito", cursive;
    color:rgb(250,173,73);
    font-size:72px;
    margin-bottom: 20px;
}

.connectGrid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hitEmWithTheFlex{
    height: auto;
    display: flex; 
    margin: 0 1rem 0 1rem;
    position:relative;
    flex-direction: column;
    
    row-gap: 1rem;
}

.connectGrid a{
    color:black;
}

.seperator{
    border-left: 1px solid rgb(128,128,128,0.35);
}

.connectContact {
    width: 75px;
    height: auto;
    margin-bottom: 10px;
}

.connectSocial{
    width: 55px;
    height: auto;
    margin-top: 40px;
}

/* .connectSocial + .connectSocial {
    margin-left:25px;
} */

.weekDays {
    font-size: 18px;
}

@media screen and (max-width: 735px){
    .hoursGrid {
        grid-template-columns: 100%;

    }

    .seperator{
        border-top: 1px solid rgb(128,128,128,0.35);
        border-left: none;
        margin: 1rem 0px 0rem 0px;
    }
}

@media screen and (max-width: 399px){
    .header{
        font-size:60px;
    }

    .highlightDate, .hitEmWithTheFlex, .weekDays  {
        font-size: .85rem;
    }
}