@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');

.instaModuleSpacing{
    margin: 2rem 0px 2rem 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2.5rem;
    text-align:left;
    /* margin-bottom: .25rem; */
    padding: .5rem 0px .5rem 0px;
    /* color: #23408F; */
    color: purple;
}

.header a, .header a:focus, .header a:active{
    text-decoration: none;
    color: purple;
}

.postCount{
    text-align:left;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

.container{
    width: 830px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding: 0 1rem 2rem 1rem;
    border-radius: 1rem 1rem 0px 0px;
}

.hitemwiththatflexRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.hitemwiththatflexColumn1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.instaImage1{
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 1rem;
    box-shadow: .15rem .15rem .15rem rgba(0,0,0,0.45);
}

.bigPicture{
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}


.hitemwiththatflexColumn2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30px;
}

.hitemwiththatflexColumn3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30px;
}

.instaImage2, .instaImage3, .instaImage4, .instaImage5{
    position: relative;
    width: 185px;
    height: 185px;
    background-color: black;
    border-radius: 1rem;
    box-shadow: .15rem .15rem .15rem rgba(0,0,0,0.45);
    margin-bottom: 2rem;
}

.smallPicture{
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}

.onHover{
    display:none;
}

.instaImage1:hover .onHover, .instaImage2:hover .onHover, .instaImage3:hover .onHover,
.instaImage4:hover .onHover, .instaImage5:hover .onHover{
    display:inline-block;
    position: absolute;
    text-align: center;
    padding: 1rem;
    left: 50%;
    width: inherit;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.onHoverDate, .onHoverLikes, .onHoverTags{
    text-align: center;
    margin-bottom:1rem;
    font-size: 16px;
    color: white;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}

.onHoverLikes{
    font-size: 24px;
}

.instaImage1 .onHoverDate, .instaImage1 .onHoverLikes, .instaImage1 .onHoverTags{
    font-size: 24px;
}

.instaImage1 .onHoverLikes{
    font-size: 36px;
}

.hitemwiththatflexColumn1, .hitemwiththatflexColumn2, .hitemwiththatflexColumn3{
    filter: grayscale(0)
}

.instaImage1:hover .bigPicture, 
.instaImage2:hover  .smallPicture, .instaImage3:hover  .smallPicture, 
.instaImage4:hover  .smallPicture, .instaImage5:hover .smallPicture{
    opacity:0.5;
}

.imageGalleryButtons{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-content:center;
    align-items: center;
    color:white;
    font-size:2rem;
    font-weight:bold;
    user-select: none;
    padding: 10px;
  }

  
  /* ========================================== media screens */


@media screen and (max-width: 1065px){

    .container{
        width: 615px;
    }

    .hitemwiththatflexColumn3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 0px
    }

    .hitemwiththatflexColumn3 .instaImage4{
        margin-bottom: 0px;
        margin-right: 15px;
    }

    .hitemwiththatflexColumn3 .instaImage5{
        margin-top: 0px;
        margin-left: 15px;
    }

}

@media screen and (max-width: 825px){
    .header{
        text-align:center;
    }
    .postCount{
        margin-left: 0px;
        text-align: center;
    }

    .container{
        width: 400px;
    }

    .hitemwiththatflexColumn2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 0px;
    }

    .hitemwiththatflexColumn2 .instaImage2{
        margin-bottom: 0px;
        margin-right: 15px;
    }

    .hitemwiththatflexColumn2 .instaImage3{
        margin-top: 0px;
        margin-left: 15px;
    }

    
}

@media screen and (max-width: 499px){
    .container{
        width: 50vw;
    }

    .instaImage1, .instaImage2, .instaImage3, .instaImage4, .instaImage5{
        width: 50vw;
        height: 50vw;
    }
    .hitemwiththatflexColumn2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 0px;
        /* margin-top: 30px; */
    }

    .hitemwiththatflexColumn2 .instaImage2{
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }

    .hitemwiththatflexColumn2 .instaImage3{
        margin-top: 0px;
        margin-left: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    
    .hitemwiththatflexColumn3{
        /* margin-top: 30px; */
        margin-left: 0px;
    }

    .hitemwiththatflexColumn3 .instaImage4{
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .hitemwiththatflexColumn3 .instaImage5{
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .header{
        font-size: 1.5rem;
    }

    .instaImage1:hover .onHover, .instaImage2:hover .onHover, .instaImage3:hover .onHover,
    .instaImage4:hover .onHover, .instaImage5:hover .onHover{
        display:none;
        opacity:1;
    }
}



/* ====================================== */
/* Pop-Up Modal */

.centerAndBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:300;
}

.selectedHyperlink, .selectedHyperlink:focus, .selectedHyperlink:active{
    text-decoration: none;
    color: black;
}

.selectedContainer{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 25px;
    animation: zoomIn .75s forwards; 
    animation-delay: 0.25s;
    transform: scale(0)
}

.selectedHeader{
    padding: 15px;
    width: 100%;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectedHeaderImage{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 3px solid violet;
    margin-right: 16px;
}


.selectedImageContainer{
    margin: 16px 25px 24px 25px;
    width: 350px;
    height:350px;
    border-radius: 15px;
}

.buttonRight{
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.buttonLeft{
  position: absolute;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

img{
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.chosenImage{
    width: inherit;
    object-fit: cover;
    object-position: center;
}

.selectedCaption{
    font-size: 16px;
    padding: 0px 30px 0px 30px;
    text-align:left;
    /* max-lines: 4; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@keyframes zoomIn{
    from { transform: scale(0)}
    to {transform: scale(1)}
}

.closeButton{
    padding: 5px;
    font-size: 16px;
    width:18px;
    height: 18px;
    font-weight:bold;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 8px;
    animation: close .75s forwards; 
    animation-delay: 1s;
    opacity:0;
    
}

.closeButton:hover{
    transform:scale(.9);
    transition: .25s
}


@keyframes close{
    from {opacity:0}
    to {opacity:1}
}

@media screen and (max-width: 650px), screen and (max-height: 450px){
    .selectedContainer{
        height: 400px;
        width: 300px;
    }

    .selectedHeader{
        font-size: 24px;
        font-family: 'Oleo Script Swash Caps', cursive;
    }
    
    .selectedHeaderImage{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid violet;
        margin-right: 8px;
    }

    .selectedImageContainer{
        margin: 0px 25px 12px 25px;
        width: 250px;
        height: 250px;
    }

    .buttonRight{
        position: absolute;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
    }
  
    .buttonLeft{
      position: absolute;
      height: 250px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
  }

    .selectedCaption{
        font-size: 14px;
        padding: 0px 30px 0px 30px;
        /* max-lines: 4; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    
}

.pageTitle{
    font-family: "Nunito", cursive;
    margin-bottom: 20px;
    color:rgb(250,173,73);
    font-size:72px;
}

@media screen and (max-width: 399px){
    .pageTitle{
        font-size:48px;
    }
}

hr {
    margin-top: 50px;
    opacity:0.35;
}
.contactMagin{
    padding-left:5%;
    padding-right:5%;
}