@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.backgroundStyle {
    position:fixed;
    top:0px;
    bottom:0;
    right:0;
    left:0;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 100%;
    width:auto;
    overflow-x: hidden;
}

.userReview {
    position:absolute;
    bottom:25%;
    left: 3%;
    width:35%;
    /* padding:15px; */
    /* background-color: rgb(255,255,255,0.35); */
    border-radius: 15px;
    z-index: 5;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: white;
    /* -webkit-text-stroke: .75px black; */
    font-size: 28px;
    font-style: italic;
    opacity: 0;
    animation: container 2s .75s forwards;
}

.indent{
    text-indent: 15px;
}

.userReview .indent> a{
    text-decoration: none;
    color:white;
}

@keyframes container {
    0%{
        opacity:0;
        transform: scale(.75)
    }
    100%{
        opacity:1;
        transform: scale(1)
    }
}

.backgroundIn{
    animation-name: backgroundIn;
    animation-duration:2s;
}

@keyframes backgroundIn{
    0%{
        opacity:0;
        transform: scale(1.25)
    }
    100%{
        opacity:1;
        transform: scale(1)
    }
}

