.topImage {
    background-image: url("/contactPic.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topImageText{
    position: absolute;
    display: flex;
    height:inherit;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-indent: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 175px;
    color: white;
    text-shadow: 3px 3px 2px rgb(0,0,0,0.65);
}