.footerContainer {
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 25px;
    background-color: rgb(255,255,255,0.45);
    bottom: 2%;
    opacity:0;
    animation-name: fadeIn;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-fill-mode: forwards;
}

.grid {
    display: grid;
    text-align: center;
    font-size: 18px;
    grid-template-columns: auto auto auto;
}

.closed {
    font-weight: bold;
    color:red;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

