.backgroundIn{
    animation-name: backgroundIn;
    animation-duration:2s;
}

@keyframes backgroundIn{
    0%{
        opacity:0;
        transform: scale(1.25)
    }
    100%{
        opacity:1;
        transform: scale(1)
    }
}
